<!-- Just an image -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
    <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <a class="navbar-brand" > Spotify App</a>
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
      </div>
    </div> -->
  </div>
</nav>
