
<div class=" ">
  <div class="row">

    <div class="col-12">
      <h3 for="">Search for an artist</h3>
    </div>
    <div class="col-12">
      <input type="text"
            class="form-control"
            placeholder="Search for an artist"
            (keyup)="searchArtist()"
            [(ngModel)]="searchTerm">
    </div>

    <div class="col-12 border" *ngIf="searchTerm.length > 1">
      <h1 class="mainTitle">{{searchTerm}}</h1>
      <div class="row">
        <div
          *ngFor="let artists of _spotify.artists"
          [routerLink]="['/artist/', artists.id]"
          class="col-md-3 text-center pointer"
          >
          <img
          [src]="artists.images | noPhoto"
          class="img-thumbnail"
          alt="">
          <p>{{artists.name}}</p>
        </div>

      </div>
    </div>

  </div>
</div>
