/* You can add global styles to this file, and also import other style files */


body{
  background-color: #151515;
  color: white;
}

h1{
  margin-bottom: 1rem;
}

table{
  margin-top: 4rem;
}

.navbar-brand{
  font-weight: 700;
}

.col-md-9 {
  padding-left: 3rem;
  align-items: center;
  display: flex;
}

.table-inverse {
  background-color: #151515;
}

.bg-dark{
  background-color: #1b1b1b;
}


.container.margin{
  margin-top: 3rem;
}

.round{
  border-radius: 100%;
}

.album_image{
  width: 50px;
}
.border{
  border-bottom: solid 2px white;
}

.pointer{
  cursor: pointer;
}

@media(max-width: 600px){
  tbody{
    display: inline-block;
  }
}
